/*Style sheet with main styles
==============================
1. Typography
2. Section Styles

*/


/* 1. TYPOGRAPHY */
/* The typography is set to a 'perfect fourth' scale (1.333 factor) with the base of 16px. The numbers are rounded. */

@import 'typography.css';
/* Importing the typography CSS. The idea is to have a separate file to manage the typography for separation of concerns. */

header{
  /* background-color: rgb(133, 172, 138); */
  box-sizing: border-box;
  padding: 10px;
}

.section-introduction{
  margin-top: 35%;
  margin-left: 100px;
  width: 80vw;
}

#sec_aboutMe{
  /* max-width: 1200px; */
  background-color: rgb(235, 153, 144);
  margin: 50px 0px;
  padding: 20px;
  font-size: 40px;
}

.secBoxes{
  padding: 40px 50px;
}
 
.secBoxes h3{
  font-size: 40Px;
  border: 5px black solid;
  background-color: blanchedalmond;
  box-sizing: border-box;
  padding: 8px 8px;
  margin: 8px 0px;
}

.secBoxes div{
  display: inline-block;
}

#box1{
  transform: rotate(4deg);
}

#box2{
  transform: translate(10px, 5px) rotate(10deg);
}

#box3{
  transform: translate(10px, 5px) rotate(-10deg);
}

#headerClaim{
  /* background-color: rgb(99, 162, 111);
  border: 4px black solid; */
  font-size: 105px;
  font-weight: bold;
  line-height: 110%;
  padding: 200px 50px 50px;

}


.section-navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.section-navList{
  display: flex;
}

.section-navElement{
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 20px;
}

.section-navLogo h3{
  font-weight: 700;
}
/* 

.navList{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navElement
{
  color: black;
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
  width: 150px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;  /*This is to make all the linkes have the mouse change to pointer*/
   
}

.navElement:hover
{
  color: rgb(91, 219, 18);
}
 */

#boxModel{
  background-color: aqua;
  width: 600px;
  margin: auto;
  border: 10px solid red;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.2;
}

section.flexSection{
  margin: 50px auto;
  padding: 50px 0;
  background-color: rgb(235, 235, 235);
  max-width: 1280px;
}

.flexSection h2{
  padding-bottom: 32px;
}

div.flexContainer{
  display: flex;
  justify-content:center;
  align-items: center;
}

div.flexColumn{
  flex-direction: column;
}

div.flexRevRow{
  flex-direction: row-reverse;
}

div.flexRevCol{
  flex-direction: column-reverse;
}

div.flexChild{
  border: 2px black solid;
  background-color: darkslateblue;
  color: white;
  padding: 32px;
  margin: 8px;
  box-sizing: border-box;
}

.flexChild h3{
  padding: 32px;
}

footer{
  background-color: rgb(232, 215, 147);
}

.footerMain h3{
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.footerMain{
  display: inline-block;
  padding: 30px;
  border: 2px black solid;
  box-sizing: border-box;
}

.footerSignup{
  max-width: 1280px;
  margin: auto;
  padding: 60px;

}