body{
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

h1{
  font-size: 30px;
}

header{
  background-color: rgb(109, 140, 113);
  box-sizing: border-box;
  padding: 10px;
}

#sec_aboutMe{
  /* max-width: 1200px; */
  background-color: salmon;
  margin: 30px auto;
  width: 1200px;
  padding: 20px;
  
  font-size: 40px;
}

#headerClaim{
  /* background-color: rgb(99, 162, 111);
  border: 4px black solid; */
  font-size: 200px;
  font-weight: bold;

  line-height: 110%;
  padding: 200px 50px 50px;

}

.navElement
{
  color: black;
  font-size: 30px;
  font-weight: 600;
  box-sizing: border-box;
  width: 150px;
  border: 4px black solid;
  padding: 10px;
  margin: 5px;
}

.navElement:hover
{
  color: rgb(91, 219, 18);
}


#boxModel{
  background-color: aqua;
  width: 600px;
  margin: auto;
  border: 10px solid red;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.2;
}