/*Style sheet with main styles
==============================
1. Typography
2. Section Styles

*/


/* 1. TYPOGRAPHY */
/* The typography is set to a 'perfect fourth' scale (1.333 factor) with the base of 16px. The numbers are rounded. */

body{
  font-family: 'Raleway', 'Helvetica', sans-serif;
}

h1{
  font-size: 65px;
  font-weight: 700;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 36px;
  padding-top: 32px;
  padding-bottom: 32px;
}

p{
  font-size: 28px;
}



header{
  background-color: rgb(133, 172, 138);
  box-sizing: border-box;
  padding: 10px;
}

#sec_aboutMe{
  /* max-width: 1200px; */
  background-color: rgb(235, 153, 144);
  margin: 50px 0px;
  padding: 20px;
  font-size: 40px;
}

.secBoxes{
  padding: 40px 50px;
}
 
.secBoxes h3{
  font-size: 40Px;
  border: 5px black solid;
  background-color: blanchedalmond;
  box-sizing: border-box;
  padding: 8px 8px;
  margin: 8px 0px;
}

.secBoxes div{
  display: inline-block;
}

#box1{
  transform: rotate(4deg);
}

#box2{
  transform: translate(10px, 5px) rotate(10deg);
}

#box3{
  transform: translate(10px, 5px) rotate(-10deg);
}

#headerClaim{
  /* background-color: rgb(99, 162, 111);
  border: 4px black solid; */
  font-size: 200px;
  font-weight: bold;
  line-height: 110%;
  padding: 200px 50px 50px;

}

.navElement
{
  color: black;
  font-size: 30px;
  font-weight: 600;
  box-sizing: border-box;
  width: 150px;
  border: 4px black solid;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;  /*This is to make all the linkes have the mouse change to pointer*/
   
}

.navElement:hover
{
  color: rgb(91, 219, 18);
}


#boxModel{
  background-color: aqua;
  width: 600px;
  margin: auto;
  border: 10px solid red;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.2;
}

section.flexSection{
  margin: 50px 0;
  padding: 50px 0;
  background-color: rgb(235, 235, 235);
}

.flexSection h2{
  padding-bottom: 32px;
}

div.flexContainer{
  display: flex;
}

div.flexChild{
  border: 2px black solid;
  background-color: darkslateblue;
  color: white;
  padding: 32px;
  margin: 8px;
  box-sizing: border-box;
}

.flexChild h3{
  padding: 32px;
}

footer{
  background-color: rgb(232, 215, 147);
}

.footerMain h3{
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 10px;
}

.footerMain{
  display: inline-block;
  padding: 30px;
  border: 2px black solid;
  box-sizing: border-box;
}

.footerSignup{
  max-width: 1280px;
  margin: auto;
  padding: 60px;

}