html{
  font-family: 'Manrope', 'Helvetica', sans-serif;
}

h1{
  font-size: 94px;
  font-weight: 600;
  letter-spacing: -1.5px;
}

h2{
  font-size: 59px;
  font-weight: 300;
  letter-spacing: -0.5px;
}

h3{
  font-size: 47px;
  font-weight: 400;
  line-height: 150%;
}

h4{
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 0.25px;
}

h5{
  font-size: 24px;
  font-weight: 400;
}

h6{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

p{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

