body{
  font-family: 'Work Sans', 'Helvetica', sans-serif;
}

h1{
  font-size: 65px;
  font-weight: 700;
}

h2{
  font-size: 50px;
}

h3{
  font-size: 36px;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 32px;
}

h4{
  font-size: 36px;
  padding-top: 32px;
  padding-bottom: 32px;
}

p{
  font-size: 28px;
}